*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100vh;
}

table {
	border: 1px double black;
	border-collapse: collapse;
}

th {
	text-align: left; /* Выравнивание по левому краю */
	background: #c7ded8; /* Цвет фона ячеек */
	padding: 5px; /* Поля вокруг содержимого ячеек */
	border: 1px solid black; /* Граница вокруг ячеек */
}

th.width_25 {
	width: 25%;
}

th.checkbox_field {
  background: white;
}

th.submit {
	text-align: center;
}

td {
	padding: 5px; /* Поля вокруг содержимого ячеек */
	border: 1px solid black; /* Граница вокруг ячеек */
}

fieldset {
	width: 800px;
}

div.top_bar{
 display:inline-block;
}

textarea {
 width: 100%;
 height: 100%;
 font-size: 20px;
 text-align: center;
}

input.number_input {
 width: 100%;
 height: 100%;
 font-size: 20px;
 text-align: center;
}