<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
     
<div th:if="${#authorization.expression('hasAuthority(''user'')')}">
   
  <a th:href="@{user/beer/list}">All Beer</a>
   
   &nbsp; | &nbsp;
    
  <a th:href="@{user/beer/add}">Add Beer</a>
   
   &nbsp; | &nbsp;
   
  <a th:href="@{user/beer/filter}">Beer Filter</a>
  
   &nbsp; | &nbsp;    
     
  <a th:href="@{/user/info}">User Info</a>
  
     &nbsp; | &nbsp;     
     
  <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
  
  </div>

</div>