<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Beer</title>
</head>

<body>
  <th:block th:include="/_menu"></th:block>

  <fieldset>
    <legend>Add Beer</legend>

    <form th:action="@{/add_beer}" th:object="${addBeerForm}" method="POST">
      <table border="1">
        <tr>
          <th>Bottle count</th>
          <th><input th:field="*{count}" type="number" size="6" min="1" step="1"></th>
          <th>Rate</th>
          <th><input th:field="*{rate}" type="number" size="6" min="0" max="100" step="5"></th>
        </tr>

        <tr>
          <th>Name</th>
          <th colspan="3"><textarea th:field="*{name}" cols="50" rows="2"></textarea></th>
        </tr>

        <tr>
          <th>Description</th>
          <th colspan="3"><textarea th:field="*{description}" cols="50" rows="3"></textarea></th>
        </tr>

        <tr>
          <th>Star</th>
          <th><input th:field="*{star}" type="checkbox">
          <th>Craft</th>
          <th><input th:field="*{craft}" type="checkbox"></th>
        </tr>

        <tr>
          <th>Brewery</th>
          <th colspan="3"><ul>
              <li th:each="brewery : ${breweryList}"><input type="checkbox" th:field="*{breweries}"
                th:value="${brewery.id}" /> <label th:text="${brewery.name}"></label></li>
            </ul></th>
        </tr>

        <tr>
          <th>Country</th>
          <th colspan="3"><ul>
              <li th:each="country : ${countryList}"><input type="checkbox" th:field="*{countries}"
                th:value="${country.id}" /> <label th:text="${country.name}"></label></li>
            </ul></th>
        </tr>

        <tr>
          <th>Style</th>
          <th colspan="3"><ul>
              <li th:each="style : ${styleList}"><input type="checkbox" th:field="*{styles}" th:value="${style.id}" />
                <label th:text="${style.name}"></label></li>
            </ul></th>
        </tr>
        
        <tr>
          <th>Photo</th>
          <th colspan="3"><textarea th:field="*{photo}" cols="50" rows="1"></textarea></th>
        </tr>

        <tr>
          <th colspan="4"><input type="submit" value="Add" /></th>
        </tr>

      </table>
    </form>
  </fieldset>

</body>
</html>