<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="${action} + ' beer'"></title>
<link th:href="@{../css/style.css}" rel="stylesheet">
</head>

<body>
  <th:block th:include="/_menu"></th:block>

  <fieldset>
    <legend th:utext="${action} + ' beer'"></legend>

    <form th:action="@{${ref_put}}" th:object="${beerForm}" method="POST">
      <table>
        <tr>
          <th>Bottle count</th>
          <th><input th:field="*{count}" type="number" size="6" min="1" step="1"></th>
          <th>Rate</th>
          <th><input th:field="*{rate}" type="number" size="6" min="0" max="100" step="5"></th>
        </tr>

        <tr>
          <th>Name</th>
          <th colspan="3"><textarea th:field="*{name}" cols="50" rows="2" required></textarea></th>
        </tr>

        <tr>
          <th>Description</th>
          <th colspan="3"><textarea th:field="*{description}" cols="50" rows="3"></textarea></th>
        </tr>

        <tr>
          <th>Favorite</th>
          <th><input th:field="*{star}" type="checkbox"></th>
          <th>Craft</th>
          <th><input th:field="*{craft}" type="checkbox"></th>
        </tr>
        
        <tr>
          <th>Style</th>
			<th><ul>
			  <li th:each="element : ${markedStyles}">
			  <label th:text="${element.value}"></label></li>
			</ul></th>
          <th colspan="2"><ul>
              <li th:each="element : ${markedStyles}"><input type="checkbox" th:field="*{styles}"
                th:value="${element.key.id}" th:checked="${true}" /> <label th:text="${element.key.name} + ' ' + ${element.value}"></label></li>
            </ul></th>          
        </tr>

        <tr>
          <th>Country</th>
			<th><ul>
			  <li th:each="element : ${markedCountries}">
			  <label th:text="${element.value}"></label></li>
			</ul></th>
          <th colspan="2"><ul>
              <li th:each="element : ${markedCountries}"><input type="checkbox" th:field="*{countries}"
                th:value="${element.key.id}" th:checked="${element.value}" /> <label th:text="${element.key.name} + ' ' + ${element.value}"></label></li>
            </ul></th>
        </tr>
        
        <tr>
          <th>Brewery</th>
			<th><ul>
			  <li th:each="element : ${markedBreweries}">
			  <label th:text="${element.value}"></label></li>
			</ul></th>
          <th colspan="2"><ul>
              <li th:each="element : ${markedBreweries}"><input type="checkbox" th:field="*{breweries}"
                th:value="${element.key.id}" th:checked="${element.value}" /> <label th:text="${element.key.name}"></label></li>
            </ul></th>
        </tr>

        <tr>
          <th>Photo</th>
          <th colspan="3"><textarea th:field="*{photo}" cols="50" rows="1"></textarea></th>
        </tr>

        <tr>
          <th colspan="4" class="submit"><input type="hidden" th:field="*{id}" th:value="${id}"/><input type="submit" value="Submit" /></th>
        </tr>

      </table>
    </form>
  </fieldset>
    
  <div th:if="${#authorization.expression('hasAuthority(''admin'')')}">  
  <br>  
  <fieldset>
  <legend>! DELETE beer !</legend>
   <form th:action="@{${ref_delete}}" th:object="${beerForm}" method="POST">
		<input type="hidden" th:field="*{id}" th:value="${id}"/>
		<input type="submit" value="DELETE" />
    </form>
  </fieldset>
  </div>

</body>
</html>