<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="'All ' + ${name}">..</title>
<link th:href="@{../css/style.css}" rel="stylesheet">
</head>

<body>
  <th:block th:include="/_menu"></th:block>

  <fieldset>
    <legend th:utext="'All ' + ${name}">..</legend>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
      <tr th:each="item : ${list}">
        <td th:utext="${item.id}">..</td>
        <td th:utext="${item.name}">..</td>
      </tr>
    </table>
  </fieldset>

  <br>
	<th:block th:include="/_item_add"></th:block>

  <br>
	<th:block th:include="/_item_put"></th:block>

  <br>
	<th:block th:include="/_item_delete"></th:block>

</body>
</html>