<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="'All ' + ${name}">..</title>
<link th:href="@{../css/style.css}" rel="stylesheet">
</head>

<body>
  <th:block th:include="/_menu"></th:block>

  <fieldset>
    <legend th:utext="'All ' + ${name}">..</legend>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
      <tr th:each="item : ${list}">
        <td th:utext="${item.id}">..</td>
        <td th:utext="${item.name}">..</td>
      </tr>
    </table>
  </fieldset>

  <br>
  <form th:action="@{${add}}" th:object="${item}" method="POST">
    <fieldset>
      <legend th:utext="'Add ' + ${name}">..</legend>
      <p>
        Name <input type="text" th:field="*{name}" /> <input type="submit" value="Add" />
      </p>
    </fieldset>
  </form>

  <br>
  <form th:action="@{${put}}" th:object="${item}" method="POST">
    <fieldset>
      <legend th:utext="'Change ' + ${name}">..</legend>
      <p>
        Change name from <select th:field="*{id}">
          <option th:each="item : ${list}" th:value="${item.id}" th:utext="${item.name} + ' (#' + ${item.id} + ')'">..</option>
        </select>
      </p>
      <p>
        to <input type="text" th:field="*{name}" th:value="${item.name}" /> <input type="submit" value="Change" />
      </p>
    </fieldset>
  </form>

  <br>
  <form th:action="@{${delete}}" th:object="${item}" method="POST">
    <fieldset>
      <legend th:utext="'! DELETE ' + ${name} + ' !'">..</legend>
      <label>Delete style</label>
      <select th:field="*{id}">
        <option th:each="item : ${list}" th:value="${item.id}" th:utext="${item.name} + ' (#' + ${item.id} + ')'">..</option>
      </select> <input type="submit" value="Delete" />
    </fieldset>
  </form>

</body>
</html>